@use "../../../styles/colors.scss" as colors;

.schedule-column-wrapper {
    display: flex;
}

.schedule-side-timeslot-container {
    height: auto;
    width: 120px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}