@use "./colors.scss" as colors;

@font-face {
    font-family: Figtree;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Figtree-Regular.ttf);
}
 
 @font-face {
    font-family: Figtree;
    font-style: normal;
    font-weight: bold;
    src: url(../assets/fonts/Figtree-Bold.ttf);
} 

$font-stack: Figtree, Helvetica, sans-serif;

* {
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
 }

body {
    padding: 0;
    margin: 0;
    font-family: $font-stack;
}

button, input, a {
    font-family: $font-stack;
}

a, button {
    cursor: pointer;
    font-size: 16px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.body-width {
    max-width: 95%;
    width: 1400px;
    height: 100%;
}

.main-body-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

h1, h2 {
    color: colors.$off_black;
}

h5 {
    font-size: 14px;
}

p {
    margin: 0;
    color: colors.$off_black;
}

.secondary-text {
    font-size: 14px;
    color: #565656;
    font-style: italic;
}

.split-column {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
}

.flex-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}