@use "./colors.scss" as colors;

// Structural table (No borders or styling)
.structural-table {
    width: 100%;
    border-spacing: 0ch;
}

// Standard table
.standard-table {
    width: 100%;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;

    th {
        background-color: colors.$main_orange;
        color: #FFF;
        padding: 10px;
    }

    td {
        padding: 10px;
        text-align: center;
    }

    tr {
        &:nth-child(even) {
            td {
                background-color: #f586343b
            }
        }
    }
}