@use "../../styles/colors.scss" as colors;

.schedule-column-wrapper {
    display: flex;

    &.loading {
        height: 300px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.schedule-timemarker-outer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    &.expanded {
        .schedule-side-timeslot-container {
            padding-top: 58px;
        }
        
        .hour-marker-wrapper {
            padding-top: 58px;
        }
    }
}

.schedule-side-timeslot-container {
    height: auto;
    width: 120px;
    list-style: none;
    padding: 28px 0 0 0;
    margin: 0;

    li {
        padding: 0;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

.schedule-columns-wrapper {
    position: absolute;
    width: calc( 95% - 120px);
    max-width: 1400px;
    padding-left: 120px;
    display: flex;
    column-gap: 20px;
}

.hour-marker-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 82px;
    padding-top: 28px;
}

.hour-marker-line {
    position: relative;
    display: block;
    width: 100%;
    border: dashed 1px #ececec;
    height: 0;
}

.current-time-marker {
    position: absolute;
    width: calc(95% - 110px);
    border-color: colors.$main_orange;
    z-index: 30;
}

.filters-bar-container {
    width: 100%;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    margin-bottom: 20px;
    position: relative;
    z-index: 36
}

.date-filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.date-select-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.mini-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.time-select-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-self: center;
    justify-content: center;
}